<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My App</title>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="main-sidebar" class="col-sm-3 main-sidebar">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a th:href="@{/user/}">Users</a></li>
        <li><a th:href="@{/product/}">Product</a></li>
        <li><a th:href="@{/contentPage}">Content Page</a></li>
        <li><a href="#">Settings</a></li>
        <li th:text="'User Name:'+${userName}" style="font-weight: bold;font-size: 16px"></li>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </ul>
</div>
</body>
</html>