
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- GLOBAL SweetAlert Handler -->
    <script>
        function showAlert(type, message) {
            Swal.fire({
                icon: type,
                text: message,
                confirmButtonText: 'OK',
                timer: 2000,
                showConfirmButton: false
            });
        }
    </script>
</head>
<body>
<script>
    function confirmDelete(url) {
        Swal.fire({
            //title: 'Are you sure?',
            text: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

<!-- SUCCESS -->
<script th:if="${success}">
    showAlert('success', '[[${success}]]');
</script>

<!-- ERROR -->
<script th:if="${error}">
    showAlert('error', '[[${error}]]');
</script>

<div class="container">
    <div th:replace="~{layout/header :: header}"></div>
    <div class="row">
        <div th:replace="~{layout/main-sidebar :: main-sidebar}"></div>
        <span layout:fragment="content">
        </span>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>

</div>

</body>
</html>

